<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minesweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Minesweeper.Properties.Settings>
            <setting name="Rows" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MineProbability" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FlagColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="RevealedColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="UnrevealedColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="MineImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FlagImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Highscores" serializeAs="String">
                <value />
            </setting>
        </Minesweeper.Properties.Settings>
    </userSettings>
</configuration>